%h1 My Contacts
.s
  - list = []
  -current_user.groups.each do |group|
    - group.users.each do |user|
      - list << user
  - list.uniq!
  - list.each do |user|
    .u
      %li= link_to user.name, user
      = image_tag user.gravatar_url
